* {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide images by default */
.mySlides {
    width: 100%;
    display: none;
}